.txn-edit {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.txn-edit p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.txn-edit form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.txn-edit label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 4px;
    color: #333;
}

.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 1rem;
    color: #333;
}

.checkbox-row input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.txn-edit input:not([type="checkbox"]),
.txn-edit textarea {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.txn-edit h3, .txn-edit h4 {
    margin: 5px;
    color: #333;
}

.txn-edit input[disabled] {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
}

.txn-edit textarea {
    resize: vertical;
    min-height: 80px;
}

.txn-edit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.txn-edit-buttons button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}



.txn-edit-buttons button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed; 
    opacity: 0.6; 
    pointer-events: none; 
}

.save-button {
    background-color: #007bff;
    color: white;
}

.save-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: red;
    color: white;
}

.delete-button:hover {
    background-color: darkred;
}

.cancel-button {
    background-color: #cccccc;
    color: #666666;
}

.cancel-button:hover {
    background-color: #999999;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.slider-container span {
    font-size: 0.9em;
    color: #555;
    min-width: 30px;
    text-align: center;
}

.full-amount-label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.full-amount-options {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align checkboxes to the right */
    gap: 8px; /* Add spacing between checkboxes */
    flex-grow: 1; /* Push the checkboxes to the right */
}

.full-amount-options label {
    margin-right: 1em;
}

.full-amount-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between "Full amount" and checkboxes */
    gap: 16px;
    font-size: 1rem;
    color: #333;
}

.full-amount-header input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.full-amount-header label {
    font-size: 0.9rem;
    color: #333;
}
