.settings {
    max-width: 800px;
}

.settings h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.settings button {
    display: block;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 150px;
    text-align: center;
    margin: 10px;
}

.settings .dangerous-button {
    background-color: #f44336;
}

.settings .dangerous-button:hover {
    background-color: #d32f2f;
}

.settings .safe-button {
    background-color: #4CAF50;
}

.settings .safe-button:hover {
    background-color: #388E3C;
}