.settings {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.settings h1 {
    margin-bottom: 10px;
}

.settings button,
dialog button {
    display: block;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

.dangerous-button {
    background-color: #f44336;
}

.dangerous-button:hover {
    background-color: #d32f2f;
}

.safe-button {
    background-color: #4CAF50;
}

.safe-button:hover {
    background-color: #388E3C;
}

.cancel-button {
    background-color: #777777;
}

.cancel-button:hover {
    background-color: #999999;
}

dialog button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}


dialog form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
}

.message {
    color: red;
    font-size: 1rem;
    margin-top: 0.5rem;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.message.fade-out {
    opacity: 0;
}